body, html { min-width: 1200px; /* height: 100%; */ background: #f1f1f1; }
body { /* background: #f1f1f1; */ }
.pc_wrap { position: absolute; width: 100%; height: 100%; background: #fff; left: 0; top: 0; }
/*login*/
.LoginBox { background: url(../images/bg.jpg) no-repeat center top; width: 100%; height: 100%; position: absolute; left: 0; top: 0; background-size: cover; }
.LoginBox::before { content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,.1); }
.VerticalCenteredBox { width: 469px; height: 400px; position: absolute; left: 50%; top: 50%; margin: -159.5px 0 0 -234.5px; background: rgba(245,245,245,.7); border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }
.LoginHead { background: #fe7844; height: 60px; line-height: 60px; text-align: center; color: #fff; font-size: 22px; font-weight: bold; }
.mar_top30 { margin-top: 30px; }
.LoginUserBoxOut { margin: auto; width: 325px; }
.LoginUserBox { width: 325px; height: 35px; background: #fff; border: 1px solid #ccc; border-radius: 3px; margin-bottom: 30px; position: relative; }
.LoginUserBox span { color: #ff0000; font-size: 12px; position: absolute; bottom: -24px; left: 0; }
.LoginUserInput { padding: 0 20px; height: 100%; font-size: 16px; color: #333; width: 285px; }
.LoginUserInput::-webkit-input-placeholder { color: #ccc; }
.inputcheck { -webkit-appearance: none; }
.inputcheck + label { display: inline-block; width: 17px; height: 17px; cursor: pointer; top: 0; left: 0; background: rgb(254, 120, 68); vertical-align: middle; position: relative; }

.inputcheck:checked + label::before { display: inline-block; content: "\2714"; text-align: center; font-size: 16px; color: white; position: absolute; top: -3px; left: 2px; }


.PublicFloatBox { position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,.4); z-index: 999; display: none; overflow:auto; -webkit-overflow-scrolling:touch; }
.kongfx { padding: 50px 0; position: absolute;left: 50%; -webkit-transform: translate(-50%,0%); -moz-transform: translate(-50%,0%); -ms-transform: translate(-50%,0%); -o-transform: translate(-50%,0%); transform: translate(-50%,0%); }
.f_MiddleBox { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); background: #fff; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; /* overflow: hidden; */ }
.f_Head { height: 50px; background: #fe7844; position: relative; color: #fff; padding: 0 10px; line-height: 50px; }
.f_Head span { font-size: 15px; }
.f_Head i { font-size: 22px; cursor: pointer; }
.wid400 { width: 400px; }
.wid260 { width: 260px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; overflow: hidden; }
.f_content { background: #fff; padding: 25px 0; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }
.f_alonediv { margin: 0 0 25px 0; position: relative; }
.f_alone_name { text-align: right; width: 80px; display: inline-block; }
.f_alone_input { display: inline-block; border: 1px solid #ccc; height: 25px; vertical-align: middle; display: inline-block; }
.f_alone_input1 { display: inline-block; vertical-align: middle; width: 275px; margin: 20px 0 0 0; }


.publicf_btn { }
.publicf_btn1, .publicf_btn2 { width: 80px; height: 35px; text-align: center; color: #fff; line-height: 35px; display: inline-block; cursor: pointer; /* margin: 0 10px 0 0; */ }
.publicf_btn1 { background: #fe7844; }
.publicf_btn1:hover { background: #ff520f; transition: all ease .3s; }
.publicf_btn2 { background: #a8a8a8; }
.publicf_btn2:hover { background: #868686; transition: all ease .3s; }

