<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Choose level</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<div class="bodies" style="background: url(/static/images/bg.jpg) no-repeat center top; width: 100%; height: 100%; position: absolute; left: 0; top: 0; background-size: cover;" >
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:text="${loginUser.name}"></a></li>
                    <li class="breadcrumb-item"><a th:href="@{/index}">Index</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/game}">Gaming</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/level}">LevelChoose</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/info/display}">PersonalInfo</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/rankchoose}">SeeRank</a></li>
                    <li class="breadcrumb-item" aria-current="page"><a href="/logout">Logout</a></li>
                </ol>
            </nav>
        </div>
    </nav>
    <div class="accordion accordion-flush" id="accordionFlushExample" style="margin-top: 10%;margin-left: 5%;margin-right: 5%">
        <div class="d-inline p-2 bg-primary text-white">
            This is your feedback according your test.
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Score
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">This score is calculated according to the correct rate, correct quantity and answer time. You get <a th:text="${score}"></a> point.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Time spend
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">The total time you spent answering those questions <a th:text="${time}"></a> second.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Accuracy rate
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">You have answered <a th:text="${accuracy}"></a> questions correctly in total. The accuracy rate is <a th:text="${accuracyRate}"></a>.
                    <a th:href="@{/record/showDetail(level=${level},uid=${uid})}">
                        <li><span>See detail.</span></li>
                    </a>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    Rank
                </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">You are ranked <a th:text="${rank}"></a>.Click to see total ranking
                    <a th:href="@{/score/rank(level=${level})}">
                    <li><span>Ranking.</span></li>
                    </a>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                    Study
                </button>
            </h2>
            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <a href="https://www.youtube.com/playlist?list=PLidqqIGKox7XPh1QacLRiKto_UlnRIEVh">
                        <li><span>Web Link</span></li>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>