<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Personal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="../static/css/register.css" th:href="@{/css/register.css}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<div class="LoginBox">
    <div class="VerticalCenteredBox">
        <div class="LoginHead">
            Personal Infomation
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" th:text="'Name:'+${info.name}"></li>
            <li class="list-group-item" th:text="'ID:'+${info.id}"></li>
            <li class="list-group-item" th:text="'Email:'+${info.email}"></li>
            <li class="list-group-item" th:text="'Age:'+${info.age}"></li>
        </ul>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
           Change your information
        </button>
        <a class="btn btn-primary" th:href="@{/level}">back</a>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" th:action="@{/info/modify(id=${info.id})}">
                            <div class="f_content">
                                <div class="f_alonediv">
                                    <div class="f_alone_name">
                                        Username:
                                    </div>
                                    <div class="f_alone_input">
                                        <input required="required" pattern="^([\u4e00-\u9fa5]|[0-9_a-zA-Z]){0,5}$" name="name" class="LoginUserInput" th:value="${info.name}" />
                                    </div>
                                </div>
                                <div class="f_alonediv">
                                    <div class="f_alone_name">
                                        password:
                                    </div>
                                    <div class="f_alone_input">
                                        <input required="required" pattern="^([\u4e00-\u9fa5]|[0-9_a-zA-Z]){0,6}$" name="password" class="LoginUserInput" th:value="${info.password}" type="password" />
                                    </div>
                                </div>
                                <div class="f_alonediv">
                                    <div class="f_alone_name">
                                        Age:
                                    </div>
                                    <div class="f_alone_input">
                                        <input required="required" pattern="^([0-9]){0,3}$" name="age" class="LoginUserInput" th:value="${info.age}" />
                                    </div>
                                </div>
                                <div class="f_alonediv">
                                    <div class="f_alone_name">
                                        email:
                                    </div>
                                    <div class="f_alone_input">
                                        <input required="required" type="email" pattern="^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$" name="email"  class="LoginUserInput" th:value="${info.email}" />
                                    </div>
                                </div>
                            </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button class="btn btn-primary" type="submit"><input type="submit" value="Save"></button>
                    </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>